[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure
[submodule "bundle/ListToggle"]
	path = bundle/ListToggle
	url = https://github.com/Valloric/ListToggle
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim
[submodule "bundle/awesome-vim-colorschemes"]
	path = bundle/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
